# データベースを無視する
**/database

# Pythonのコンパイル済みバイトコード
*.pyc

# Pythonの献立アプリの無視対象
python/02_アプリ/献立提案アプリ/src/.env
python/02_アプリ/献立提案アプリ/data/
*.bat
*tempCodeRunnerFile.py

# Android Studioの無視対象
#*.iml
#*.hprof
*.idea
*.gradle
#*.apk
**/build/
